<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Tachibana"
    Manufacturer="Paranoid-AF"
    Version="$(var.ProductVersion)"
    UpgradeCode="A1B2C3D4-E5F6-7890-ABCD-EF1234567890">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Tachibana">
        <Directory Id="BinFolder" Name="bin" />
        <Directory Id="DrizzleFolder" Name="drizzle" />
        <Directory Id="WebFolder" Name="web" />
        <Directory Id="SharpFolder" Name="sharp" />
        <Directory Id="IosConnectFolder" Name="ios-connect" />
        <Directory Id="AssetsFolder" Name="assets" />
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="ServerComponent" Directory="INSTALLFOLDER">
      <Component Id="ServerExe" Guid="*">
        <File Id="TachibanaServerExe" Source="$(var.StagingDir)\tachibana.exe" KeyPath="yes" />
      </Component>
      <Component Id="ServiceWrapper" Guid="*">
        <File Id="TachibanaServiceWrapperExe" Source="$(var.StagingDir)\tachibana-service.exe" KeyPath="yes" />
        <File Id="TachibanaServiceWrapperXml" Source="$(var.StagingDir)\tachibana-service.xml" />
        <ServiceInstall
          Id="TachibanaServiceInstall"
          Name="TachibanaServer"
          DisplayName="Tachibana Server"
          Description="Tachibana iOS Device Management Server"
          Start="auto"
          Type="ownProcess"
          ErrorControl="normal"
          Account="LocalSystem" />
        <ServiceControl
          Id="TachibanaServiceStart"
          Name="TachibanaServer"
          Start="install"
          Wait="no" />
        <ServiceControl
          Id="TachibanaServiceCleanup"
          Name="TachibanaServer"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="BinFiles" Directory="BinFolder">
      <Files Include="$(var.StagingDir)\bin\**" />
    </ComponentGroup>

    <ComponentGroup Id="DrizzleFiles" Directory="DrizzleFolder">
      <Files Include="$(var.StagingDir)\drizzle\**" />
    </ComponentGroup>

    <ComponentGroup Id="WebFiles" Directory="WebFolder">
      <Files Include="$(var.StagingDir)\web\**" />
    </ComponentGroup>

    <ComponentGroup Id="SharpFiles" Directory="SharpFolder">
      <Files Include="$(var.StagingDir)\sharp\**" />
    </ComponentGroup>

    <ComponentGroup Id="IosConnectFiles" Directory="IosConnectFolder">
      <Files Include="$(var.StagingDir)\ios-connect\**" />
    </ComponentGroup>

    <ComponentGroup Id="AssetsFiles" Directory="AssetsFolder">
      <Files Include="$(var.StagingDir)\assets\**" />
    </ComponentGroup>

    <Feature Id="Main" Title="Tachibana" Level="1">
      <ComponentGroupRef Id="ServerComponent" />
      <ComponentGroupRef Id="BinFiles" />
      <ComponentGroupRef Id="DrizzleFiles" />
      <ComponentGroupRef Id="WebFiles" />
      <ComponentGroupRef Id="SharpFiles" />
      <ComponentGroupRef Id="IosConnectFiles" />
      <ComponentGroupRef Id="AssetsFiles" />
    </Feature>
  </Package>
</Wix>
